$fondo_negro:black;
$fondo_rojo: red;

$fuente_negro: black;
$fuente_bco: white;

$esp-1:10px;
$esp-2:20px;
$esp-3:30px;
$esp-4:40px;
$esp-5:50px;

$pd-1:10px;
$pd-2:20px;
$pd-3:30px;
$pd-4:40px;
$pd-5:50px;
